.App {
  display: block;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  overflow: auto;
}

.nav {
  font-size: 16px !important;
  height: 55px;
}

.page {
  width: 100%;
  margin-top: 80px;
  padding-bottom: 30px;
}

.page-header {
  font-size: 2.5rem !important;
}