.App {
  display: block;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  overflow: auto;
}

.nav {
  font-size: 16px !important;
  height: 55px;
}

.page {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px;
}

.page-header {
  font-size: 2.5rem !important;
}

.modal-table {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin-bottom: 20px;
  // width: 600px;
}

.pre-line {
  white-space: pre-line;
}

.definition {
  font-size: 15px !important;
}

.introduction {
  font-size: 16px !important;
}