.App {
  display: block;
  width: 100vw;
  height: 100vh;
}

.nav {
  font-size: 16px !important;
  height: 55px;
}

.page {
  height: 100%;
  width: 100%;
  padding-top: 80px;
}

.page-header {
  font-size: 2.5rem !important;
}