@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

.demo {
  font-family: 'Fira Code', monospace;
}

.prompt {
  margin: 10px 0;
  display: grid;
  grid-template-columns: .03fr .97fr;
  color: #666;
  white-space: pre-line;

  i {
    font-size: 18px;
    color: #000;
  }
}

.step-buttons {
  width: 100%;
  text-align: center;
}

.explanation {
  font-size: 16px;
  animation: fadeIn 1s ease;

  &__header {
    color: #666;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}