.demo {
  font-family: FiraCode, monospace;
}

.prompt {
  margin: 10px 0;
  display: grid;
  grid-template-columns: .03fr .97fr;
  color: #666;
  white-space: pre-line;

  i {
    font-size: 18px;
    color: #000;
  }
}

.step-buttons {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.explanation {
  min-height: 70px;
  font-size: 16px;
  animation: fadeIn 1s ease;

  &__header {
    color: #666;
  }

  &__visual {
    font-family: FiraCode, monospace;
    height: 60%;
    width: 100%;
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}