@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
.App {
  display: block;
  width: 100vw;
  height: 100vh;
  font-size: 15px; }

.nav {
  font-size: 16px !important;
  height: 55px; }

.page {
  height: 100%;
  width: 100%;
  padding-top: 80px; }

.page-header {
  font-size: 2.5rem !important; }

.demo {
  font-family: 'Fira Code', monospace; }

.prompt {
  margin: 10px 0;
  display: grid;
  grid-template-columns: .03fr .97fr;
  color: #666; }
  .prompt i {
    font-size: 18px;
    color: #000; }

.step-buttons {
  width: 100%;
  text-align: center; }

.explanation {
  font-size: 16px;
  animation: fadeIn 1s ease; }
  .explanation__header {
    color: #666; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
