.App {
  display: block;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  overflow: auto; }

.nav {
  font-size: 16px !important;
  height: 55px; }

.page {
  height: 100%;
  width: 100%;
  padding-top: 80px; }

.page-header {
  font-size: 2.5rem !important; }

@font-face {
  font-family: FiraCode;
  src: url("../fonts/FiraCode-VariableFont_wght.ttf"); }

.home__header {
  font-size: 4rem !important; }

.demo {
  font-family: FiraCode, monospace; }

.prompt {
  margin: 10px 0;
  display: grid;
  grid-template-columns: .03fr .97fr;
  color: #666;
  white-space: pre-line; }
  .prompt i {
    font-size: 18px;
    color: #000; }

.step-buttons {
  width: 100%;
  text-align: center; }

.explanation {
  min-height: 70px;
  font-size: 16px;
  animation: fadeIn 1s ease; }
  .explanation__header {
    color: #666; }
  .explanation__visual {
    font-family: FiraCode, monospace;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.sorts__control {
  width: 100%;
  height: 100px; }

.sorts .column {
  padding: 0 10px !important; }
