.App {
  display: block;
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  overflow: auto; }

.nav {
  font-size: 16px !important;
  height: 55px; }

.page {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px; }

.page-header {
  font-size: 2.5rem !important; }

.modal-table {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin-bottom: 20px; }

.pre-line {
  white-space: pre-line; }

@font-face {
  font-family: FiraCode;
  src: url("../fonts/FiraCode-VariableFont_wght.ttf"); }

.home__header {
  font-size: 4rem !important; }

.demo {
  font-family: FiraCode, monospace; }

.specific-sort_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between; }

.prompt {
  margin: 10px 0;
  display: grid;
  grid-template-columns: .03fr .97fr;
  color: #666;
  white-space: pre-line;
  font-size: 15px; }
  .prompt i {
    font-size: 18px;
    color: #000; }

.step-buttons {
  width: 100%;
  text-align: center;
  margin-top: 20px; }

.explanation {
  min-height: 70px;
  font-size: 16px;
  animation: fadeIn 1s ease; }
  .explanation__header {
    color: #666; }
  .explanation__visual {
    font-family: FiraCode, monospace;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }

.breakdown--brief {
  white-space: pre; }

.header-code {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.sorts__control {
  width: 100%;
  height: 100px; }

.sorts .column {
  padding: 0 10px !important; }

.sorts__container {
  border: 1px solid #000;
  height: 250px;
  overflow: hidden; }

.modal_code {
  font-family: FiraCode, monospace; }
