.sorts {

  &__control {
    width: 100%;
    height: 100px;
  }
  .column {
    padding: 0 10px !important;
  }

  &__container {
    border: 1px solid #000;
    height: 250px;
    overflow:hidden;
  }
}

.modal_code {
  font-family: FiraCode, monospace;
}